* { 
    
}

/* Universal Styling */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 5px;
    padding: 5px;
}

/* Header & Navigation Styling */

header {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 1;
}

.logo {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.logo img {
    height: 50px;
    width: auto;
    margin: 0;
    padding: 0;
}

nav {
    align-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: underline;
    color: seashell;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

/* Main Styling */

.container {
    display: flex;
    flex-flow: row nowrap;
}

.flex-item {
    padding: 9px 10px;
}

main {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 69px;
}

.hero {
    background-image: url(media/img-mission-background.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
}

.hero-text {
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    background-color: black;
    width: 100%;
}

.tea-month {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.container-images {
    display: flex;
    flex-flow: row wrap;
}

.tea-month-image {
    flex: 1 1 33.33%;
    
}

.tea-month-image img {
    height: 200px;
    width: 300px;
}

/* Locations Styling */

.locations {
    background-image: url(media/img-locations-background.webp);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 50px 0;
}

.locations-centered {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.container-locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 5px;
}

.location {
    flex-basis: 300px;
    height: 200px;
    vertical-align: middle;
    background-color: black ;
    
}

/* Footer Styling */
footer {
    position: relative;
    top: 70px;
    height: 200px;
}

.copyright {
    text-align: left;
    position: relative;
    top: 69px;
    margin-left: 20px;
    font-size: 16px;
}